.Thead {
    width: 78%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    color: rgb(216, 211, 211);
    font-size: 24px;
    font-weight: 600;
    text-align: left;
  }
  .Table {
    width: 78%;
    color: rgb(216, 211, 211);
    margin: auto;
    display: flex;
    margin-bottom: 40px;
    text-align: start;
  }
  .TableDiv {
    border: 1px solid rgb(216, 211, 211);
    padding: 10px;
    padding-right: 378px;
  }
  /* .Shows {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: start;
  }
  .Shows a {
    font-size: 14px;
    color: grey;
    text-align: left;
    align-items: flex-start;
  } */
  /* .Shows a:hover {
    font-weight: bold;
    color: rgba(219, 166, 247, 0.816);
  }
  .Shows div {
    display: flex;
    flex-direction: column;
  } */
  /* p {
    font-weight: bold;
    font-size: 13px;
    color: white;
  } */
  
  /* .About h5 {
    width: 50%;
    margin-left: 165px;
    color: white;
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
  }
  .DApp {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 20px;
    color: white;
    flex-direction: row;
  }
  
  .copyright {
    font-weight: 400;
    color: grey;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  } */
  
  .Shows {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: start;
  }
  a {
    /* border: 1px solid red; */
    font-size: 14px;
    color: grey;
    text-align: left;
    align-items: flex-start;
  }
  a:hover {
    /* border: 1px solid red; */
    font-weight: bold;
    color: rgba(219, 166, 247, 0.816);
  }
  /* .DivShows {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
  } */
  p {
    /* border: 1px solid red; */
    font-weight: bold;
    font-size: 13px;
    color: white;
  }
  
  .About h5 {
    width: 50%;
    margin-left: 165px;
    color: white;
    font-weight: lighter;
    font-size: 14px;
    text-align: left;
  }
  .DApp {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 20px;
    color: white;
    flex-direction: row;
  }
  
  .copyright {
    font-weight: 400;
    color: grey;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  